DB_USERNAME=XXXXXXXXXXXXXXXXX
DB_PASSWORD=XXXXXXXXXXXXXXXXXXXXXX
DB_URL=XXXXXXXXXXXXXXXXXXXXXX
GCM_SERVER_KEY=XXXXXXXXXXXXXXXXXXXX
JETTY_LOGFILES_PATH=/tmp
SSL_KEYSTORE_PASS=XXXXXXXXXXXXXXXXXXXXX
SSL_KEYSTORE=XXXXXXXXXXXXXXXXXX
SSL_LISTEN_ON_PORT=0
LISTEN_ON_PORT=9090
SSL_KEYMGR_PASS=XXXXXXXXXXXXXXXXXXXX
ENABLED_PLUGINS=Camipro,Moodle,Authentication,Food,Transport,News,Satellite,Map,Bikes,Directory,PushNotif
